# to be used in docker-compose
# from https://github.com/FusionAuth/fusionauth-issues/issues/632#issuecomment-656043532

services:
  app:
    labels:
      - traefik.enable=true
      # ...
      - "traefik.http.middlewares.app.redirectregex.regex=^https://${CI_ENVIRONMENT_HOST}/login\?(.*)userState=AuthenticatedNotRegistered(.*)"
      - "traefik.http.middlewares.app.redirectregex.replacement=https://another-website.com"
      - traefik.http.routers.app.middlewares=app@docker
